<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.ainosoft.server.GreetingServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>com.ainosoft.server.DownloadPdfServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/HtmlToPdfConverter/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadFileServlet</servlet-name>
		<url-pattern>/downloadPdfServlet</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>HtmlToPdfConverter.html</welcome-file>
	</welcome-file-list>

</web-app>
